header {
  padding: 10px 0;
  position: fixed;
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
}
header.scroll {
  background-color: #0000004f;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 4px #00000042;
}
header.scroll div.flex-1 a {
  color: white;
  opacity: 0.7;
}
header.scroll .language span,
header.scroll .language i {
  color: white;
}
header .logo {
  width: 45px;
  object-fit: contain;
}
header div.flex-1 a {
  font-size: 17px;
  margin: 0 10px;
  font-weight: 600;
  text-transform: capitalize;
}
header div.flex-1 a {
  color: black;
  opacity: 0.5;
}

header div.flex-1 a.active,
header div.flex-1 a:hover {
  opacity: 1;
  font-weight: bold;
}

.scroll-to-top {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  position: fixed;
  right: -60px;
  bottom: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 5px #196273d9;
  z-index: 2;
}
.scroll-to-top.active {
  right: 40px;
}
.scroll-to-top:hover {
  background-color: var(--hover-color);
}
