header {
  padding: 10px 0;
  position: fixed;
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
}
body.arabic header {
  direction: ltr;
}
body.arabic header div.flex-1 a:first-child,
body.arabic header .language {
  order: 1;
}
header.scroll {
  background-color: #0000004f;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 4px #00000042;
}
header.scroll div.flex-1 a {
  color: white;
  opacity: 0.7;
}
header.scroll .menu {
  color: white;
}
header .menu {
  color: black;
  cursor: pointer;
  display: none;
}
header.scroll .language span,
header.scroll .language i {
  color: white;
}
header .logo {
  width: 45px;
  object-fit: contain;
}
header div.flex-1 a {
  font-size: 17px;
  margin: 0 10px;
  font-weight: 600;
  text-transform: capitalize;
}

header div.flex-1 a {
  color: black;
  opacity: 0.5;
}

header div.flex-1 a.active,
header div.flex-1 a:hover {
  opacity: 1;
  font-weight: bold;
}

.scroll-to-top {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  position: fixed;
  right: -60px;
  bottom: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 5px #196273d9;
  z-index: 2;
}
.scroll-to-top.active {
  right: 40px;
}
.scroll-to-top:hover {
  background-color: var(--hover-color);
}
.scroll-to-top:hover i {
  animation: scroll-to-top 1.5s infinite;
}

nav.navbar {
  position: fixed;
  z-index: 2;
  background: #0000006b;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  top: 55px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  padding: 15px 0;
  box-shadow: 0 18px 20px #00000029;
  backdrop-filter: blur(4px);
}
nav.navbar.active {
  max-height: 500px;
  opacity: 1;
  pointer-events: all;
  overflow: visible;
}
nav.navbar a {
  display: block;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
nav.navbar a:hover,
nav.navbar a.active,
nav.navbar a:hover i {
  color: var(--main-color);
}
nav.navbar a i {
  margin-right: 10px;
}

body.arabic nav.navbar a i {
  margin-right: 0px;
  margin-left: 10px;
}
nav.navbar .language {
  margin: 0;
  color: white;
}
nav.navbar .language > article {
  bottom: -98px;
  background: #000000bd;
  width: 100px;
  left: -30px;
}
nav.navbar .flex i {
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
body.arabic nav.navbar .flex > i {
  margin-right: 0px;
  margin-left: 10px;
}
@keyframes scroll-to-top {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(5px);
  }
}

@media (max-width: 1000px) {
  header div.flex-1 a,
  .language {
    font-size: 15px;
  }
  header {
    height: 60px;
  }
}
@media (max-width: 750px) {
  header div.flex-1 a,
  header .language {
    display: none;
  }
  header .menu {
    display: flex;
  }
  header {
    height: 55px;
  }
  header .logo {
    width: 40px;
  }
  .scroll-to-top.active {
    right: 25px;
    width: 35px;
    height: 35px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  header .logo {
    width: 35px;
  }
  nav.navbar a {
    font-size: 15px;
  }
  .scroll-to-top.active {
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
}
